<h1>Listing people</h1>

<table>
  <tr>
    <th>Tel</th>
    <th>Fax</th>
    <th>Cellphone</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.tel %></td>
    <td><%= person.fax %></td>
    <td><%= person.cellphone %></td>
    <td><%= person.remark %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
